body{
    overflow: auto;
    position: relative;
    background-color: #FFFFFF;
}

*{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffffee;
    scrollbar-width: thin;
    scrollbar-color: #33333333 #00000000;
}

.navigazione{
    animation: anim;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-direction: row;
    justify-content:space-around;
    width:70%;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 0.4rem;
    align-items: center;
}

.navigazione a{
    text-decoration:none;
}

.navigazione a:hover{
    color:#33333355;
}

@keyframes anim{
    0%{
        background: linear-gradient(90deg, #1003fa44 0%, #358aebCc 100%);
    }
    5%{
        background: linear-gradient(90deg, #180ded44 0%, #358aebCc 100%);
    }
    10%{
        background: linear-gradient(90deg, #2218e655 0%, #358aebCC 100%);
    }
    15%{
        background: linear-gradient(90deg, #241add55 0%, #358aebCC 100%);
    }
    20%{
        background: linear-gradient(90deg, #3129c966 0%, #358aebCC 100%);
    }
    25%{
        background: linear-gradient(90deg, #3029bc66 0%, #358aebCC 100%);
    }
    30%{
        background: linear-gradient(90deg, #352ec677 0%, #358aebCC 100%);
    }
    35%{
        background: linear-gradient(90deg, #332cb277 0%, #358aebCC 100%);
    }
    40%{
        background: linear-gradient(90deg, #322ca288 0%, #358aebCC 100%);
    }
    45%{
        background: linear-gradient(90deg, #2e299288 0%, #358aebCC 100%);
    } 
    50%{
        background: linear-gradient(90deg, #28239199 0%, #358aebCC 100%);
    }
    55%{
        background: linear-gradient(90deg, #26208a99 0%, #358aebCC 100%);
    } 
    60%{
        background: linear-gradient(90deg, #221c88aa 0%, #358aebCC 100%);
    }
    65%{
        background: linear-gradient(90deg, #231e83aa 0%, #358aebCC 100%);
    } 
    70%{
        background: linear-gradient(90deg, #1c1683bb 0%, #358aebCC 100%);
    }
    75%{
        background: linear-gradient(90deg, #151084bb 0%, #358aebCC 100%);
    }
    80%{
        background: linear-gradient(90deg, #130d85cc 0%, #358aebCC 100%);
    }
    85%{
        background: linear-gradient(90deg, #120c88cc 0%, #358aebCC 100%);
    }
    90%{
        background: linear-gradient(90deg, #110b87DD 0%, #358aebCC 100%);
    }
    95%{
        background: linear-gradient(90deg, #0f088cdd 0%, #358aebCC 100%);
    }
    100%{
        background: linear-gradient(90deg, #0a047bEE 0%, #358aebCC 100%);
    }
    
}

.log{
    display: flex;
    width: 70%;
    margin:auto;
    overflow:clip;
    overflow-y: scroll;
    flex-direction: column;
    background-color: #33333333;
    backdrop-filter: blur(5px);
    margin-top: 5rem;
    border-radius: 1rem;
}

video{
    z-index:-100;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.sfondo{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #00000000 10%, #FFFFFF99 65% , #FFFFFFEE 85%);
    min-width: 100%;
    min-height: 100%;
}

.log-body{
    background-color: #FFF;
}
.admin-div {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    min-height: fit-content;
    padding-bottom: 3%;
}

input{
    border: 0px;
}

.fill-div {
    height: max-content;
    text-align: center;
}

.insert-form {
    text-align: left;
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    animation: anim;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.insert-form > input, .insert-form>select, .insert-form>select>option {
    width: 10%;
    min-width: fit-content;
    border-radius: 2rem;
    margin:0.5rem;
    color: #000;
    text-align: center;
}

.print-table {margin:1%;}

table, th, tr, td {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #33333333;
    width: 90rem;
}

@media screen and (max-width:650px){
    .log{
        width: 90%;
    }
    .insert-form{
        width: 75%;
    }

    .navigazione{
        border-top-left-radius:0px ;
        border-top-right-radius:0px ;
        border-bottom-left-radius:1rem ;
        border-bottom-right-radius:1rem ;
        width: 100%;
        height: 2.5rem;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width:460px){

    .log{
        width: 95%;
    }
    .insert-form{
        width: 85%;
        padding: 0.5rem;
    }
    .print-table{
        margin: 0px;
    }

    table, th, tr, td {
        width: 50rem;
    }
}

@media screen and (max-width:350px){
    .log{
        width: 99.9%;
    }
    .insert-form{
        width: 97%;
        padding: 0.3rem;
    }

    input{
        margin-bottom:0.4rem;
    }

    table, th, tr, td {
        width: 35rem;
    }
}