*{
    box-sizing: border-box;
}
  
body{
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

header{
    z-index: 3;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding:20px;
    color:#000;
    background-color: darkgray;
    opacity:0.6;
}

header h1{
    position: fixed;
    top: 0.3%;
    left: 4%;
    font-size : 62px;
    font-weight:bold; 
    font-family:Georgia;
    color: red;
}

header a{
    position: fixed;
    top: 5%;
    left: 90%;
}

header a img{
    height: 75px;
    width: 70px;
}

header a img:hover{
    border-bottom: 2px blue solid;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#clockPosition{
    text-align:center; 
    font-size : 62px; 
    font-weight:bold; 
    font-family:Georgia;
}

#clockSetting{
    text-align:center;
    font-size : 18px; 
    font-weight:bold; 
    font-family: Georgia;

}

.google-maps {
    position: relative;
    padding-bottom: 75%; /* Definisco l'aspect ratio */
    height: 0;
    overflow: hidden;
}

.google-maps > iframe {
    width: 1000px;
    height: 620px;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    border: #000 2px solid;
}

.giorni{
    z-index: 2;
    background-color: darkgray;
    opacity:0.6;
    height: 620px;
    margin-right: 140px;
    margin-left: 40px;
    font-size : 24px;
    border-radius: 6%;
}

.giorni h3{
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}

.info{
    z-index: 2;
    background-color: darkgray;
    opacity:0.6;
    height: 620px;
    margin-right: 50px;
    margin-left: 120px;
    font-size : 24px;
    border-radius: 6%;
}

.info h3{
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}